// EESQUEMA DE COLORES
// PRIMER ESQUEMA DE COLOR
$white: #FFF;
$isabelline: #EEEDED;
$spanish-gay: #989797;

// SEGUNDO ESQUEMA DE COLOR
$coral: #FA824C;
$buff: #F1DD7B;
$vanilla: #F5E7A1;

// TERCER ESQUEMA DE COLOR 
$flame: #E4572E;
$light-red-ochre: #E87554;
$pastel-pink: #F2B2A0;

// CUARTO ESQUEMA DE COLOR
$shiny-shamrock: #4CA866;
$t-green: #9DCFAB;
$pastel-gray: #BDDFC7;

// QUINTO ESQUEMA DE COLOR
$blue-france: #3C91E6;
$blue-jeans: #5FA5EA;
$jordy-blue: #82B9EF;

// SEXTO ESQUEMA DE COLOR
$black: #000000;
$outer-space: #454545;
$quick-silver: #A2A2A2;

// TIPOGRAFIA
// FUENTES
// PT MONO
$pt-mono: 'PT Mono', monospace;
$pt-mono-regular: 400;

// ROBOTO
$roboto: 'Roboto', sans-serif;
$roboto-light: 300;

// ROBOTO
/* $roboto: 'Roboto', sans-serif;
$roboto-light: 300;
$roboto-regular: 400;

// PLAYFAIR
$playfair: 'Playfair Display', serif;
$playfair-bold: 400;
$playfair-black: 900;
$playfair-italic: italic; */

// TAMAÑOS
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

// BREAKPOINT
$min-lp: 992px;



/* RO-18312592
2781287 */